[submodule "security-advisor"]
	path = security-advisor
	url = git@github.com:kiwiProgrammer/security-advisor.git
[submodule "AutonomousCouncil"]
	path = AutonomousCouncil
	url = git@github.com:NFarisColab/AutonomousCouncil.git
