[submodule "security-advisor"]
	path = security-advisor
	url = git@github.com:kiwiProgrammer/security-advisor.git
[submodule "AutonomousCouncil"]
	path = AutonomousCouncil
	url = git@github.com:NFarisColab/AutonomousCouncil.git
[submodule "capstone_agent_a"]
	path = capstone_agent_a
	url = git@github.com:weeeelye/capstone_agent_a.git
